<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Footer</title>
</head>
<body>
  <div class="main-container">
    <div class="footer">
      <!-- About Company  -->
        <div class="about">
          <h2>STACK QUEUE Education</h2>
          <p>STACK QUEUE Education shapes future IT professionals through a dynamic, accessible learning environment. We bridge the gap between theory and practice, equipping students with critical thinking and practical skills. By fostering research and innovation, we inspire students to push technological boundaries. Our resources empower them to excel and contribute to IT advancements.</p>
          <div class="footerimage">
            <img src="../../../assets/Tab Logo.png" alt="">
          </div>
        </div>
        <!-- About Company -->

        <!-- Company policies -->
        <div class="career">
          
          <h2>About us</h2>
          <nav>
            <a routerLink="/about_us"><i class="fa-solid fa-building"></i>&nbsp;&nbsp;Company</a>
            <a routerLink="/jobs"><i class="fa-solid fa-suitcase" ></i>&nbsp;&nbsp;Jobs</a>
            <a routerLink="/career"><i class="fa-solid fa-person-chalkboard"></i>&nbsp;&nbsp;Career</a>
            <a routerLink="/contact_us"><i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;Contact us</a>
          </nav>
        </div>
        <!-- Company policies -->

        <!-- terms and conditions -->
        <div class="terms">
          <h2>Terms</h2>
          <nav>
            <a routerLink="/termsAndConditions"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Terms of use</a>
            <a routerLink="/privacyPolicy"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Privacy Policy</a>
            <a routerLink="/refundPolicy"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Refund Policy</a>
            <!-- <a><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Cookies Policy</a> -->
            <a routerLink="/contact_us"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;FAQ's</a>
          </nav>
        </div>
        <!-- terms and conditions -->

        <!-- popular courses -->
        <div class="popular-courses">
          <h2>Popular Courses</h2>
          <nav>
            <a routerLink="course/top-tech-courses"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Python</a>
            <a routerLink="course/top-tech-courses"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;JAVA</a>
            <a routerLink="course/top-tech-courses"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Web development</a>
            <a routerLink="course/top-tech-courses"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;Angular</a>
            <a routerLink="course/top-tech-courses"><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;React</a>
          </nav>
        </div>
        <!-- popular courses -->

        <!-- social media -->
        <div class="social-media">
          <h2>Follow us on</h2>
          <div class="social-icons">
            <a href="https://www.facebook.com/stackqueueedu" target="_blank"><i class="fa-brands fa-facebook-f" id="facebook"></i></a>
            <a><i class="fa-brands fa-instagram" id="instagram"></i></a>
            <a href="https://twitter.com/stackqueueedu" target="_blank"><i class="fa-brands fa-x-twitter" id="twitter"></i></a>
          </div>
          <div class="social-icons">
            <a><i class="fa-brands fa-threads" id="thread"></i></a>
            <a href="https://www.linkedin.com/company/stackqueue" target="_blank"><i class="fa-brands fa-linkedin-in" id="linkedin"></i></a>
          </div>
        </div>
        <!-- social media -->
    </div>

    <!-- Copyrights -->
    <div class="copyrights">
      <div class="line"></div>
      <div class="rights">
        <i class="fa-regular fa-copyright" style="color: #fff;"></i>
        <h5> {{currentYear}} Stack Queue Education. All rights reserved</h5>
      </div>
    </div>
    <!-- Copyrights -->
  </div>
  <!-- <div>
    <p>&copy; 2023 Stack Queue Education. All rights reserved.</p>
  </div> -->
</body>
</html>
