<div>
 <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="splash-screen" >
    <div class="splash-content" >
      <div class="shapes-effects" >
        <div class="bubble" data-aos="fade-right" data-aos-duration="1500">
        </div>
        <div class="dots-effects">
          <img src="./assets/dots rectangle.png" alt="">
        </div>
        <div class="lifetime-access" data-aos="fade-right" data-aos-duration="1500">
          <h2 id="elicit">Elicit your life by our</h2>
          <h2 id="elicit">Services <span class="animatetext">{{instituteservice[currentTextindex]}}</span></h2>
          <p>Unlock your potential with Stack Queue Education. Your journey to a successful tech career starts here!</p>
          <a routerLink="/course">
            <button class="start-course"> Get Started</button>
          </a>
        </div>
      </div>
    </div>
    <div class="splash-image" data-aos="fade-left" data-aos-duration="1500">
      <img src="./assets/Splashscreen-img.png" alt="">
      <div class="book-splash" data-aos="zoom-in" data-aos-duration="1500">
        <img src="./assets/book-splash.png" alt="" class="book">
      </div>
      <div class="target-splash">
        <img src="./assets/target-splash.png" alt="" class="book">
      </div>
      <div class="cloud-splash" data-aos="zoom-in" data-aos-duration="1500">
        <img src="./assets/cloud.png" alt="" class="book">
        <div class="splash-heading">
          <h3>Want to learn Programming!</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="learners-connect" >
    <div>
      <h1 data-aos="zoom-in" data-aos-duration="1500">What <span id="connect">Learners</span> Connect?</h1>
    </div>
    <div class="connect-images">
      <div  data-aos="zoom-in" data-aos-duration="1000">
        <img src="./assets/ISO Logo.png" alt="">
      </div>
      <div data-aos="zoom-in" data-aos-duration="1000">
        <img src="./assets/MSME (1).png" alt="">
      </div>
      <div data-aos="zoom-in" data-aos-duration="1000">
        <img src="./assets/STACK KIT.png" alt="">
      </div>
      <div data-aos="zoom-in" data-aos-duration="1000">
        <img src="./assets/Wifi Logo.png" alt="">
      </div>
      <div data-aos="zoom-in" data-aos-duration="1000">
        <img src="./assets/AICTE Logo.png" alt="">
      </div>
      <div data-aos="zoom-in" data-aos-duration="1000">
        <img src="./assets/Life time access logo.png" alt="">
      </div>
    </div>
  </div>
  <!------------- Vision and Mission starts ------------------>
  <div class="vision-mission" >
    <div class="about" data-aos="zoom-in" data-aos-duration="1500">
      <p>STACK QUEUE EDUCATION is a specialized educational institution committed to training students for corporate readiness. With a curriculum designed in collaboration with industry professionals, we ensure our students are well-versed in the latest technologies and methodologies.</p>
    </div>
    <div class="content" >
      <div class="mission" data-aos="fade-up" data-aos-duration="1500">
        <div class="mission-icon">
        <h2 align="center">OUR MISSION </h2>
        <img src="./assets/Telescope.png" alt="">
      </div>
        <p>Our mission is to deliver high-quality programming education through structured courses, hands-on projects, and industry-aligned training, while fostering an inclusive environment that enhances both technical and soft skills for successful careers.</p>
      </div>
      <div class="vision" data-aos="fade-up" data-aos-duration="1500">
        <div class="mission-icon">
        <h2 align="center">OUR VISION</h2>
        <img src="./assets/Launch.png" alt="">
      </div>
        <p>To empower students with comprehensive programming skills, fostering innovation and excellence in technology, and preparing them to be industry-ready professionals who can excel in their careers and drive technological advancements.</p>
      </div>
    </div>
  </div>
  <!------------- Vision and Mission ends ------------------>

  <!------------ Courses Offered starts -------------------->
  <div class="courses-offered" data-aos="fade-up" data-aos-duration="1000">
    <div class="course-heading">
      <h1>Trending Courses <span id="offer">Offered</span></h1>
    </div>
    <div class="course-display">
       <div class="rated-course">
        <div class="course-show">
          <div class="course-list" data-aos="fade-right" data-aos-duration="1000">
          <div><i class="fa-solid fa-code"></i></div>
          <div><h2>Full Stack Development</h2></div>
          <div><small>Learn JavaScript, HTML, CSS & more</small></div>
          <div><a routerLink="course/top-tech-courses">Know more</a></div>
        </div>
        <div class="course-list" data-aos="fade-left" data-aos-duration="1000">
          <div><i class="fa-solid fa-code"></i></div>
          <div><h2>Data Science </h2></div>
          <div><small>Learn JavaScript, HTML, CSS & more</small></div>
          <div><a routerLink="course/top-tech-courses">Know more</a></div>
        </div>
        </div>
        <div class="course-show">
          <div class="course-list" data-aos="fade-right" data-aos-duration="1000">
          <div><i class="fa-solid fa-code"></i></div>
          <div><h2>Data Analytics</h2></div>
          <div><small>Learn JavaScript, HTML, CSS & more</small></div>
          <div><a routerLink="course/top-tech-courses">Know more</a></div>
        </div>
        <div class="course-list" data-aos="fade-left" data-aos-duration="1000">
          <div><i class="fa-solid fa-code"></i></div>
          <div><h2>Internet of Things (IoT)</h2></div>
          <div><small>Learn JavaScript, HTML, CSS & more</small></div>
          <div><a routerLink="/course">Know more</a></div>
        </div>
        </div>
        <div>
          <button class="explore-course" data-aos="zoom-in" data-aos-duration="1000">Explore more courses</button>
        </div>
      </div>
      <div class="course-logos" data-aos="fade-up" data-aos-duration="1000">
        <div class="red">
          <div>
            <img src="./assets/JS logo.png" alt="" id="js">
          </div>
          <div>
            <img src="./assets/Angular logo.png" alt="" id="angular">
          </div>
          <div>
            <img src="./assets/Figma logo-3d.webp" alt="" id="figma">
          </div>
          <div>
            <img src="./assets/Python logo.png" alt="" id="python">
          </div>
          <div>
            <img src="./assets/software-testing-removebg-preview.png" alt="" id="testing">
          </div>
        </div>
        <div class="red-content">
          <div><h1 id="offer">Explore Our Top <span style="color: green;"> Trending Courses</span> </h1></div>
          <div>
            <p>Our courses are designed to provide students with a comprehen  sive understanding of the latest technologies and methodologies, ensuring they are well-equipped to excel in the dynamic tech industry.</p>
            <br>
            <p>We offer top trending courses like Python, Full Stack Development, Data Analytics, AI, and Cybersecurity to help you stay ahead in the tech industry. Learn Python programming, build web applications, analyze data with Power BI & SQL, and explore AI & Machine Learning with real-world projects. Our expert trainers provide hands-on learning with flexible schedules and placement support. Whether you're a beginner or a professional, our courses are designed to enhance your career. Gain industry-ready skills and secure top job opportunities. Enroll now and transform your future with Stack Queue Education!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------ Courses Offered ends -------------------->

  <!------------ Internship starts ----------------------->
  <div class="internship-display" data-aos="fade-up" data-aos-duration="1000">
    <div>
      <img src="./assets/thinking_image.png" alt="">
    </div>
    <div class="internship-content" data-aos="fade-right" data-aos-duration="1000">
      <div class="salem-institute">
      <div><div><h1>Looking for <span>Industrial projects Internship?</span></h1></div>
      <div><h3>Then, STACK QUEUE Education is the best in this Business.</h3></div>
    </div>
      <div class="intern-quote" data-aos="fade-left" data-aos-duration="1000">
        <p><q>Empower students with the knowledge of real-time industrial projects at STACK QUEUE Education Institute. Our comprehensive curriculum focuses on practical, hands-on learning, ensuring students gain valuable insights and skills that are directly applicable to the dynamic challenges of the industrial sector.</q></p>
      </div>
      <a routerLink="/internships">
        <button class="start-internship" data-aos="zoom-in" data-aos-duration="1000">Explore Real Time Internship</button>
      </a>
    </div>
    </div>
  </div>
  <!------------ Internship ends ------------------------->

  <!------------- Review starts ------------------>
  <!-- <section class="slides">
    <div class="row">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let image of slides; let i = index" class="slide">
            <div>
            <img [src]="image.img" alt="Slide {{i + 1}}" width="100%">
            </div>
        </div>
        </ngx-slick-carousel> -->
        <!-- <div  *ngFor="let image of slides; let i = index" class="slide">
            <div>
            <img [src]="image.img" alt="Slide {{i + 1}}" width="100%">
            </div>
        </div>
      <div class="dots">
        <div>
          <h4>Exchange your old one in 3 steps</h4>
        </div>
        <div class="flex">
          <div><span> Visit an EV Mart Centre</span>
            <p>
              Bring your petrol scooter to a nearby EV Mart centre</p>
          </div>
        </div>
        <div class="flex">
          <div class="flexgap"><span> Get your vehicle inspected</span>
            <p>
              After we check your vehicle, we will provide you with a quote.</p>
          </div>
        </div>
        <div class="flex">
          <div><span> Ride home your new Electric one</span>
            <p>Purchase the vehicle for a reduced amount and pay in full or via split payment</p>
          </div>
          <div><a (click)="book()">Exchange Vehicle &nbsp;<i class="fa-solid fa-arrow-right fa-flip"></i></a></div>
        </div>
      </div>
    </div>
  </section> -->
  <!------------- Review ends ------------------>
  <div>
    <app-footer></app-footer>
  </div>
</div>
