:host {
  --font-color: rgb(118, 63, 199);

}

.logo img {
  max-width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  /* height: 100vh; */
  background-color: #f4f4f4;
  padding: 2rem;
}

.back-button button {
  background-color: var(--font-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.terms-and-conditions {
  /* padding: 20px; */
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  padding: 20px;
}

.terms-and-conditions h1,
.terms-and-conditions h2 {
  color: var(--font-color);
}

.terms-and-conditions h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.terms-and-conditions h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

.terms-and-conditions p,
.terms-and-conditions ul {
  margin-bottom: 15px;
  color: #636363;
}

.terms-and-conditions ul {
  list-style-type: disc;
  padding-left: 20px;
}