<div *ngIf="loader; else courseContent">
  <div class="course-content">
    <div *ngFor="let skeleton of skeletons" class="skeleton-card"></div>
  </div>
</div>
<ng-template #courseContent>
  <div class="course-content" data-aos="fade-up" data-aos-duration="1000"> 
    <div
      *ngFor="let item of getAllCourse; let i = index"
      class="course-card"
      (click)="courseClick(item)" data-aos="fade-up" data-aos-duration="1000"
    >
      <div class="course-card-img">
        <img
          [src]="item.course_image"
          alt="{{ item.course_name }}"
          title="{{ item.course_name }}"
        />
      </div>
      <div class="course-card-info">
        <h4>{{ item.course_name }}</h4>
        <p class="course-description">{{ item.course_description }}</p>
        <div class="course-card-time">
          <p class="course-lectures"><strong><i class="fa-solid fa-person-chalkboard" style="color: #000000;"></i></strong> {{ item.course_lectures }}</p>
          <p class="course-learners"><strong><i class="fa-solid fa-people-group" style="color: #000000;"></i></strong> {{ item.course_learners }}</p>
          <p class="course-price"><strong><i class="fa-solid fa-indian-rupee-sign" style="color: #050505;"></i></strong> {{ item.course_price }}</p>

        </div>
        <button class="course-btn">Enroll Now</button>
      </div>
    </div>
  </div>
</ng-template>