<body>
    <div class="loading-overlay" *ngIf="loading">
     <div class="spinner"></div>
    </div>

  <div class="syllabus-page">
    <section>
      <div class="enquire">
        <div class="logo">
          <img src="./assets/logo black.png" alt="Logo" routerLink="/">
        </div>
        <div class="details" >
          <button (click)="scrollToDetails()">View Details</button>
        </div>

        <div class="enquireForm">
          <form [formGroup]="enquiry" (ngSubmit)="submitForm()">
            <div>
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" placeholder="Enter your name">
            </div>
            <div>
              <label for="email">E-mail</label>
              <input type="email" id="email" formControlName="email" placeholder="Enter your email">
            </div>
            <div>
              <label for="location">City</label>
              <input type="text" id="location" formControlName="location"  placeholder="Enter your city">
            </div>
            <div>
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone" formControlName="phone" placeholder="Enter your phone number">
            </div>
            <div>
              <label for="course">Course Name</label>
              <input type="text" id="course" readonly formControlName="course" [value]="selectCourse.course_name">
            </div>
            <div>
              <button type="submit" > 
                <i class="fa-solid fa-rocket fa-beat"></i>&nbsp;&nbsp;Register Now
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <div class="syllabus-course" id="details">
      <div>
        <div class="back-page">
          <a routerLink="/course">
          <i class="fa-solid fa-arrow-left"></i>&nbsp;Back
          </a>
        </div>
        <h1>{{ selectCourse.course_name }}</h1>
        <h3>Begin your career in Web Framework</h3>
      </div>
      <div>
        <h1>Enroll at {{ selectCourse.course_price | currency:'INR':'symbol':'1.0-0' }}</h1>
      </div>
      <div class="course-details">
        <div class="course-modules">
          <div>
            <h3><b>4 Modules</b></h3>
            <p>with Certifications</p>
          </div>
          <div class="separate"></div>
        </div>
        <div class="course-modules">
          <div>
            <h3>{{ selectCourse.course_lectures }} Hours</h3>
            <p>of live session</p>
          </div>
          <div class="separate"></div>
        </div>
        <div class="course-modules">
          <div>
            <h3>5 Ratings</h3>
            <p>by {{ selectCourse.course_learners }} learners</p>
          </div>
          <div class="separate"></div>
        </div>
        <div>
          <h3>Life Time</h3>
          <p>access</p>
        </div>
      </div>
      <div class="language">
        <div>
          <h3>Languages: </h3>
        </div>
        <div *ngFor="let item of selectCourse.course_languages; let i = index">
          <p>{{ item.lang }}{{ i === (selectCourse.course_languages.length - 1) ? '.' : ',' }}</p>
        </div>
      </div>
      <div class="modules-main">
        <div>
          <h2>Topics you will learn</h2>
        </div>
        <div class="module-name" *ngFor="let item of selectCourse.course_syllabus">
          <div class="beginner-module">
            <i class="fa-solid fa-book"></i>
            <h4>{{ item.topic }}</h4>
          </div>
        </div>
      </div>
      <div class="course-outcome">
        <div>
          <h2>Post-course, you'll have proficiency in...</h2>
        </div>
        <div *ngFor="let item of selectCourse.course_completion">
          <ul class="outcomes">
            <li><i class="fa-solid fa-book"></i>&nbsp;{{ item.post_course }}</li>
          </ul>
        </div>
      </div>
      <div class="take-course">
        <div>
          <h2>Who Can take this Course?</h2>
        </div>
        <div *ngFor="let item of selectCourse.scope_course">
          <ul class="outcomes">
            <li><i class="fa-solid fa-book-open-reader"></i>&nbsp;{{ item.point }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
